#posts-comment-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 50rem;
    padding: 1rem;
    gap: 1rem;
}

.main-post-comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,.08);
}

.post-comment-image-container {
  width: 100%;
  /* height: 18rem;   */
  overflow: hidden;
}

.post-comment-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.post-comment-title {
  text-align: center;
}

.reatings-comment-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post-comment-like {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}


.post-comment-dislike {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
.post-comment-rating {
  padding: 0.5rem;
}

.post-comment-description-container {
  text-align: center;
}
