#posts-comment-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 50rem;
    padding: 1rem;
    gap: 1rem;
}

.main-post-comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,.08);
  padding: 1rem;
}

.post-comment-image-container {
  width: 100%;
  /* height: 18rem;   */
  overflow: hidden;
  border-radius: 1rem;
}

.post-comment-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.post-comment-title {
  text-align: center;
}

.reatings-comment-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post-comment-like {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.post-comment-dislike {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
.post-comment-rating {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
.post-comment-gallery-link{
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;

}

.post-comment-edit-link{
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.post-comment-delete-link{
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.post-comment-description-container p{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}

.comeents-list {
    border: 0.1rem solid #f8f9fa;
    border-radius: 1rem;
    padding: 1rem;
}

.comeents-list p{
    padding: 0.2rem;
}

.comment-button {
    margin-top: 0.5rem;
}


.comment-image {
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  display: block;
}
.comment-image img {
  width: 100%;
  height: 100%;
}

.comment-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comment-tetx {
  margin-left: 5rem;
}

/* mobile layout */
@media (max-width: 600px) {
  .reatings-comment-container {
    flex-wrap: wrap;                 /* allow items to move to next line */
    justify-content: space-between;  /* spread the small buttons */
    gap: 0.5rem 1rem;                /* optional spacing */
  }
  .post-comment-description-container {
    border-top: solid 0.1rem var(--border);
  }
}