{% load static %}
<section id="advice-carousel">
    <div class="advice-main-container">
        <div class="advice-link">
            <a class="adv-link" href="#home-gallery">Explore</a>
        </div>

        <div class="text-carousel">
            <div class="scroll-content">
                <span>🐾 Always research your pet’s specific needs before bringing
                    them home — every species is different! 🐾 </span>
                <span> Provide a balanced diet suited to their size and age —
                    avoid overfeeding or giving human snacks. 🐾 </span>
                <span>  Fresh water should always be available — hydration keeps
                    your pet healthy and active. 🐾</span>
            </div>
        </div>
    </div>

</section>