{% load static %}

<section id="home-gallery">

    <div class="row-container">
        <h1 class="gallery-title">
            They’re so small, so cute — and they make us happy 🐾
        </h1>
        <div class="first-home-gallery-container">
            <img
                src="{% static 'home/images/home_gallery_img_1.jpg' %}"
                alt=""
            />
        </div>
        <div class="second-home-gallery-container">
            <img
                src="{% static 'home/images/home_gallery_img_2.png' %}"
                alt=""
            />
        </div>
        <div class="third-home-gallery-container">
            <img
                src="{% static 'home/images/home_gallery_img_3.jpg' %}"
                alt=""
            />
        </div>
    </div>
    <div class="row-container">
        <h1 class="gallery-title">
            They’re best friends — and they save as 🐾
        </h1>
        <div class="first-home-gallery-container">
            <img
                src="{% static 'home/images/home_gallery_img_4.jpg' %}"
                alt=""
            />
        </div>
        <div class="second-home-gallery-container">
            <img
                src="{% static 'home/images/home_gallery_img_5.jpg' %}"
                alt=""
            />
        </div>
        <div class="third-home-gallery-container">
            <img
                src="{% static 'home/images/home_gallery_img_6.jpg' %}"
                alt=""
            />
        </div>
    </div>
       <div class="row-container">
        <h1 class="gallery-title">
            Playful, sleepy, and always adorable — and they fill our hearts with love 🐾
        </h1>
        <div class="first-home-gallery-container">
            <img
                src="{% static 'home/images/home_gallery_img_7.jpg' %}"
                alt=""
            />
        </div>
        <div class="second-home-gallery-container">
            <img
                src="{% static 'home/images/home_gallery_img_8.jpg' %}"
                alt=""
            />
        </div>
        <div class="third-home-gallery-container">
            <img
                src="{% static 'home/images/home_gallery_img_9.jpg' %}"
                alt=""
            />
        </div>
    </div>
</section>
