{% load static %}

<section id="posts-section">
    <div class="main-posts-container">
        {% for post in posts %}

        <div class="main-post-container">
            <div class="post-image-container">
                <img src="{{ post.image.url }}" alt="">
            </div>
            <div class="post-title">
                <p>{{ post.title }}</p>
            </div>
            <div class="reatings-container">
                <div class="post-like">
                    <div class="like">
                        <form method="post" action="{% url 'post_like' post.id %}">
                            {% csrf_token %}
                            <button type="submit" class="icon-btn" aria-label="Like">
                            <i class="fa-sharp fa-solid fa-thumbs-up"></i>
                            </button>
                        </form>
                    </div>
                    <div class="post-like-count">
                        <span>{{ post.likes_count }}</span>
                    </div>
                </div>

                <div class="post-dislike">
                    <div class="dislike">
                         <form method="post" action="{% url 'post_dislike' post.id %}">
                            {% csrf_token %}
                                <button type="submit" class="icon-btn" aria-label="Like">
                                    <i class="fa-solid fa-thumbs-down"></i>
                            </button>
                        </form>
                    </div>
                    <div class="post-dislike-count">
                        <span>{{ post.dislikes_count}}</span>
                    </div>
                </div>

                <div class="post-comment">
                    <div class="comment">
                        <a href="{% url 'post_details' post.id %}"><i class="fa-regular fa-comment"></i></a>
                    </div>
                    <div class="post-like-count">
                        <span>{{ post.comments_count}}</span>
                    </div>
                </div>

                <div class="post-rating">
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
