{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-4 rounded-4">
        <h3 class="text-center mb-4">🐾 Change Password🐾</h3>
        <form method="POST" action="{% url 'change_password' %}">
          {% csrf_token %}
          {{ form.as_p }} <!-- or use crispy form rendering -->
          <button type="submit" class="btn btn-primary w-100 mt-3">
            Submit
          </button>
          <div class="back-ancor-container">
            <a href="{% url 'profile' request.user.id%}" class="back-ancor">
              Back
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}