{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="profile-section">
    <div class="main-div-profile-info">
        <div class="profile-image">
            {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" alt="">
            {% else %}
                <img src="{% static 'accounts/images/empty_profile_img.jpg' %}" alt="">
            {% endif %}
        </div>
        <div class="profile-info">
            <p>Email: {{ user.email }}</p>
            <p>First name: {{ profile.first_name }}</p>
            <p>Last name: {{ profile.last_name }}</p>
        </div>
        <a href="{% url 'profile_edit' request.user.id %}" class="btn btn-primary">
            Edit Profile
        </a>
    </div>
    <div class="profile-latest-posts">
        {% if not last_posts %}
        <h1>You don't have any posts yet</h1>
        {% else %}
            <h1>You latest posts</h1>
        {% endif %}
        <div class="no-posts-container">
            <img src="{% static 'accounts/images/no_posts.jpg' %}" alt="">
        </div>
    </div>

</section>
{% endblock %}
