<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Petstagram{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
</head>

<body>
   {% include 'navigation.html'%}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 Petstagram</p>
    </footer>
</body>
</html>
